*{
    margin: 0%; /* le saca los margenes al default que viene del html, para que todo quede pegado a los bordes*/
    padding: 0%; /* */
}
.body{
    background-image: url("./images/pantalla_inicio.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    height:30vh;
}


.comenzar{
    margin-top: 10vh;
  color: #01DDFF;  
  padding: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 3vw;
  border: 3px solid #01DDFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}